* {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

body {
    background-color: yellow;
    height: 100vh;
}

h1 {
    background-color: black;
    color: white;
    padding: 2%;
    font-size: 400%;
    text-shadow: 2px 2px 5px white;
}

h2 {
    padding: 2%;
    font-size: 200%;
}

h3 {
    padding-bottom: 5%;
    text-decoration: underline;
    padding-top: 5%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.Rangement-projets {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.Rangement-projets li {
    line-height: 150%;
    font-size: 110%;
    list-style-type: decimal;
}


/****** Medias ******/

@media screen and (min-width: 720px) {
    .Rangement-projets {
        flex-direction: row;
    }
    .date_horaire {
        width: 25%;
    }
}